#header {
	background-color: black;
	color: white;
	font-family: sans-serif; 
	font-size: 10px;
	padding-top: 6px;


	width: 100%;
	}

#footer a {
	font-color: red;
}

#footer {
   background-color: black;
   color: gray;
   font-family: sans-serif; 
   font-weight: bolder;
   font-size: 12px;
}


#left_column{

	background-color: white;
	font-weight: normal;
}

#right_column{
	font-weight: normal;
}

A{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
A:Hover{
	font-size: 14px; 
}

#main {
	background: lightgray;
}

#horizontal_separator{
	background-color: wheat; 
}

.logo {
 /*background-color: black;*/
        color: white;
        /*margin-top: 0em;*/
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 4em;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 14px;

/*/////////*/
	color: red;
}
